* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

body {
  min-height: 100svh;
}

nav button {
  border: none;
  background: none;
}

.task-wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
}